In [1]:
import pandas as pd

# Load the Excel file
file_path = 'FMI Data V2.xlsx'
xls = pd.ExcelFile(file_path)

# Define a function to transform a single sheet
def transform_sheet(df, sheet_name):
    # 1. Drop the first 9 rows
    df = df.drop(index=range(8))
    
    # Make the first row as column names
    df.columns = df.iloc[0]
    
    # 2. Drop the first row from the dataset
    df = df.drop(df.index[0])

    # 2. Drop columns where the column name is NaN
    df = df.loc[:, ~df.columns.isna()]
    
    # 5. Create a new column after 'Product_Net_Sales' called 'Pre_Post' and mark them all as 'Pre'
    df.insert(6, 'Pre_Post', 'Pre')
    
    # 6. Identify post-period columns (those after 'Product_Net_Sales')
    # post_columns = [col + 'V2' if 7 <= idx < 13 else col for idx, col in enumerate(df.columns)]
    post_columns = df.columns[7:]

    # 7. Create a DataFrame for the post-period data
    post_df = df.iloc[:, 7:].copy()
    post_df['Pre_Post'] = 'Post'

    # 8. Drop post-period columns from the original DataFrame
    df = df.drop(columns=post_columns)

    # 9. Combine the pre and post DataFrames
    df_combined = pd.concat([df, post_df], ignore_index=True)

    # 10. Add the store location column
    df_combined['store_location'] = sheet_name

    return df_combined

# Process each sheet in the Excel file and combine into a single DataFrame
all_stores_df = pd.DataFrame()
for sheet_name in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet_name)
    transformed_df = transform_sheet(df, sheet_name)
    all_stores_df = pd.concat([all_stores_df, transformed_df], ignore_index=True)

# Save the combined DataFrame to a new Excel file
output_file_path = 'FMI_Data_Test_Transformed_Combined.xlsx'
all_stores_df.to_excel(output_file_path, index=False)

Index([        'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales',
                       nan,                 nan,                 nan,
               'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales', 'Menu Item', 'Size', 'Base', 'Menu Type',
       'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales'],
      dtype='object', name=8)
8                  Menu Item                   Size         Base  \
9    AGG-Chicken Strip MyBox  Chicken Strips My Box          NaN
10                       NaN                    NaN          NaN
11                       NaN                    NaN          NaN
12                       NaN                    NaN          NaN
13                       NaN                    NaN          NaN
..                       ...                    ...          ...
320                      NaN                    NaN          NaN
321                      NaN                    NaN  Traditional
322                      NaN                    NaN          NaN
323                      NaN         AGG Meal for 2          NaN
324              Grand Total                    NaN          NaN

8                 Menu Type Product Units Product Net Sales Pre_Post
9      Cheddar Jalapeno Dip      0.000368          0.000501     Post
10               Garlic Dip      0.000921          0.001251     Post
11   Ghost Pepper Ranch Dip      0.000368          0.000501     Post
12          House Ranch Dip      0.000184           0.00025     Post
13             Marinara Dip      0.000184           0.00025     Post
..                      ...           ...               ...      ...
320           Sweet n'Spicy      0.000368            0.0005     Post
321         Garlic Parmesan      0.000368          0.000532     Post
322               Honey BBQ      0.000737          0.001064     Post
323         Garlic Parmesan      0.000184          0.000565     Post
324                     NaN             1                 1     Post

[316 rows x 7 columns]
Index([        'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales',
                       nan,                 nan,                 nan,
               'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales', 'Menu Item', 'Size', 'Base', 'Menu Type',
       'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales'],
      dtype='object', name=8)
8                  Menu Item                   Size Base  \
9    AGG-Chicken Strip MyBox  Chicken Strips My Box  NaN
10                       NaN                    NaN  NaN
11                       NaN                    NaN  NaN
12                       NaN                    NaN  NaN
13                       NaN                    NaN  NaN
..                       ...                    ...  ...
317                      NaN                    NaN  NaN
318                      NaN                    NaN  NaN
319                      NaN                    NaN  NaN
320                      NaN                    NaN  NaN
321                      NaN                    NaN  NaN

8               Menu Type Product Units Product Net Sales Pre_Post
9    Cheddar Jalapeno Dip      0.000981          0.001252     Post
10                    CYO      0.000196           0.00025     Post
11             Garlic Dip      0.001178          0.001503     Post
12        House Ranch Dip      0.000196           0.00025     Post
13           Marinara Dip      0.000589          0.000751     Post
..                    ...           ...               ...      ...
317                   NaN           NaN               NaN     Post
318                   NaN           NaN               NaN     Post
319                   NaN           NaN               NaN     Post
320                   NaN           NaN               NaN     Post
321                   NaN           NaN               NaN     Post

[313 rows x 7 columns]
Index([        'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales',
                       nan,                 nan,                 nan,
               'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales', 'Menu Item', 'Size', 'Base', 'Menu Type',
       'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales'],
      dtype='object', name=8)
8                  Menu Item                   Size      Base  \
9    AGG-Chicken Strip MyBox  Chicken Strips My Box       NaN
10                       NaN                    NaN       NaN
11                       NaN                    NaN       NaN
12                       NaN                    NaN       NaN
13                       NaN                    NaN       NaN
..                       ...                    ...       ...
321                      NaN         AGG Meal for 1  Bone-out
322                      NaN                    NaN       NaN
323                      NaN                    NaN       NaN
324                      NaN         AGG Meal for 2       NaN
325              Grand Total                    NaN       NaN

8                 Menu Type Product Units Product Net Sales Pre_Post
9      Cheddar Jalapeno Dip      0.000394          0.000542     Post
10               Garlic Dip      0.000394          0.000542     Post
11   Ghost Pepper Ranch Dip      0.000197          0.000271     Post
12          House Ranch Dip      0.000197          0.000271     Post
13                 Plum Dip      0.000197          0.000271     Post
..                      ...           ...               ...      ...
321               Honey BBQ      0.000394          0.000541     Post
322            Honey Garlic      0.000591          0.000811     Post
323          Medium Buffalo      0.000197           0.00027     Post
324               Honey BBQ      0.000197          0.000611     Post
325                     NaN             1                 1     Post

[317 rows x 7 columns]
Index([        'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales',
                       nan,                 nan,                 nan,
               'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales', 'Menu Item', 'Size', 'Base', 'Menu Type',
       'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales'],
      dtype='object', name=8)
8                  Menu Item                   Size           Base  \
9    AGG-Chicken Strip MyBox  Chicken Strips My Box            NaN
10                       NaN                    NaN            NaN
11                       NaN                    NaN            NaN
12                       NaN                    NaN            NaN
13             Bottle Drinks                2 Liter  Bottle Drinks
..                       ...                    ...            ...
339                      NaN                    NaN            NaN
340                      NaN                    NaN            NaN
341                      NaN                    NaN            NaN
342                      NaN                    NaN            NaN
343              Grand Total                    NaN            NaN

8               Menu Type Product Units Product Net Sales Pre_Post
9    Cheddar Jalapeno Dip      0.000176           0.00024     Post
10             Garlic Dip      0.001409          0.001922     Post
11        House Ranch Dip      0.000176           0.00024     Post
12               Plum Dip      0.000352           0.00048     Post
13                   7 Up      0.006166          0.002403     Post
..                    ...           ...               ...      ...
339        Medium Buffalo      0.000176           0.00056     Post
340          Mild Buffalo      0.000176          0.000542     Post
341          Spicy Garlic      0.000176          0.000542     Post
342         Sweet n'Spicy      0.000176          0.000542     Post
343                   NaN             1                 1     Post

[335 rows x 7 columns]
Index([        'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales',
                       nan,                 nan,                 nan,
               'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales', 'Menu Item', 'Size', 'Base', 'Menu Type',
       'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales'],
      dtype='object', name=8)
8                  Menu Item                   Size         Base  \
9    AGG-Chicken Strip MyBox  Chicken Strips My Box          NaN
10                       NaN                    NaN          NaN
11                       NaN                    NaN          NaN
12                       NaN                    NaN          NaN
13                       NaN                    NaN          NaN
..                       ...                    ...          ...
304                      NaN      AGG Family Bundle          NaN
305                      NaN         AGG Meal for 1     Bone-out
306                      NaN                    NaN          NaN
307                      NaN                    NaN  Traditional
308              Grand Total                    NaN          NaN

8                 Menu Type Product Units Product Net Sales Pre_Post
9      Cheddar Jalapeno Dip      0.000217          0.000279     Post
10               Garlic Dip       0.00065          0.000836     Post
11   Ghost Pepper Ranch Dip      0.000217          0.000279     Post
12             Marinara Dip      0.000867          0.001115     Post
13     Peppercorn Ranch Dip      0.000217          0.000279     Post
..                      ...           ...               ...      ...
304            Honey Garlic      0.000217          0.001204     Post
305               Honey BBQ      0.000217          0.000278     Post
306            Mild Buffalo      0.000217          0.000278     Post
307             Burning Hot      0.000217          0.000296     Post
308                     NaN             1                 1     Post

[300 rows x 7 columns]
Index([        'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales',
                       nan,                 nan,                 nan,
               'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales', 'Menu Item', 'Size', 'Base', 'Menu Type',
       'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales'],
      dtype='object', name=8)
8                  Menu Item                   Size      Base  \
9    AGG-Chicken Strip MyBox  Chicken Strips My Box       NaN
10                       NaN                    NaN       NaN
11                       NaN                    NaN       NaN
12                       NaN                    NaN       NaN
13                       NaN                    NaN       NaN
..                       ...                    ...       ...
303                      NaN                    NaN       NaN
304                      NaN                    NaN       NaN
305                      NaN  AGG 28 Boneless Bites  Bone-out
306                      NaN         AGG Meal for 1  Bone-out
307              Grand Total                    NaN       NaN

8                 Menu Type Product Units Product Net Sales Pre_Post
9      Cheddar Jalapeno Dip      0.000172          0.000243     Post
10               Garlic Dip      0.000172          0.000243     Post
11   Ghost Pepper Ranch Dip      0.000172          0.000243     Post
12             Marinara Dip      0.000344          0.000485     Post
13                 Plum Dip      0.000344          0.000485     Post
..                      ...           ...               ...      ...
303            Mild Buffalo      0.001546          0.001839     Post
304   Salt & Pepper Dry Rub      0.000515            0.0006     Post
305               Honey BBQ      0.000172          0.000548     Post
306               Honey BBQ      0.000172          0.000242     Post
307                     NaN             1                 1     Post

[299 rows x 7 columns]
Index([        'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales',
                       nan,                 nan,                 nan,
               'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales', 'Menu Item', 'Size', 'Base', 'Menu Type',
       'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales'],
      dtype='object', name=8)
8                  Menu Item                   Size         Base  \
9    AGG-Chicken Strip MyBox  Chicken Strips My Box          NaN
10                       NaN                    NaN          NaN
11                       NaN                    NaN          NaN
12                       NaN                    NaN          NaN
13                       NaN                    NaN          NaN
..                       ...                    ...          ...
309                      NaN                    NaN  Traditional
310                      NaN         AGG Meal for 2          NaN
311                      NaN                    NaN          NaN
312                      NaN                    NaN          NaN
313              Grand Total                    NaN          NaN

8               Menu Type Product Units Product Net Sales Pre_Post
9    Cheddar Jalapeno Dip       0.00018          0.000245     Post
10             Garlic Dip      0.001079          0.001467     Post
11        House Ranch Dip       0.00036          0.000489     Post
12           Marinara Dip       0.00036          0.000489     Post
13   Peppercorn Ranch Dip       0.00018          0.000245     Post
..                    ...           ...               ...      ...
309           Burning Hot       0.00018           0.00026     Post
310       Garlic Parmesan      0.000719          0.002261     Post
311        Medium Buffalo       0.00018           0.00057     Post
312         Sweet n'Spicy       0.00018          0.000579     Post
313                   NaN             1                 1     Post

[305 rows x 7 columns]
Index([        'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales',
                       nan,                 nan,                 nan,
               'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales', 'Menu Item', 'Size', 'Base', 'Menu Type',
       'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales'],
      dtype='object', name=8)
8                  Menu Item                   Size           Base  \
9    AGG-Chicken Strip MyBox  Chicken Strips My Box            NaN
10                       NaN                    NaN            NaN
11                       NaN                    NaN            NaN
12             Bottle Drinks                2 Liter  Bottle Drinks
13                       NaN                    NaN            NaN
..                       ...                    ...            ...
299                      NaN         AGG Meal for 1       Bone-out
300                      NaN                    NaN    Traditional
301                      NaN                    NaN            NaN
302                      NaN                    NaN            NaN
303              Grand Total                    NaN            NaN

8               Menu Type Product Units Product Net Sales Pre_Post
9         House Ranch Dip        0.0002          0.000279     Post
10   Peppercorn Ranch Dip        0.0002          0.000279     Post
11               Plum Dip        0.0006          0.000838     Post
12                   7 Up      0.005398          0.002115     Post
13             Diet Pepsi      0.002399           0.00097     Post
..                    ...           ...               ...      ...
299          Mild Buffalo        0.0002          0.000279     Post
300          All Canadian        0.0004          0.000594     Post
301          Honey Garlic        0.0004          0.000594     Post
302        Medium Buffalo        0.0002          0.000297     Post
303                   NaN             1                 1     Post

[295 rows x 7 columns]
Index([        'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales',
                       nan,                 nan,                 nan,
               'Menu Item',              'Size',              'Base',
               'Menu Type',     'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales', 'Menu Item', 'Size', 'Base', 'Menu Type',
       'Product Units', 'Product Net Sales'],
      dtype='object', name=8)
Index(['Menu Item', 'Size', 'Base', 'Menu Type', 'Product Units',
       'Product Net Sales'],
      dtype='object', name=8)
8                  Menu Item                   Size Base  \
9    AGG-Chicken Strip MyBox  Chicken Strips My Box  NaN
10                       NaN                    NaN  NaN
11                       NaN                    NaN  NaN
12                       NaN                    NaN  NaN
13                       NaN                    NaN  NaN
..                       ...                    ...  ...
333                      NaN         AGG Meal for 2  NaN
334                      NaN                    NaN  NaN
335                      NaN                    NaN  NaN
336                      NaN                    NaN  NaN

IndexError: index 6 is out of bounds for axis 0 with size 4

In [3]:
all_stores_df.tail()

8,Pre_Post,Menu Item,Size,Base,Menu Type,Product Units,Product Net Sales,store_location
10347,Post,NaN,NaN,NaN,Medium Buffalo,0.000319,0.000404,R298-04
10348,Post,NaN,NaN,NaN,Sweet n'Spicy,0.000319,0.000404,R298-04
10349,Post,NaN,AGG Meal for 2,NaN,Honey BBQ,0.000319,0.000857,R298-04
10350,Post,NaN,NaN,NaN,Medium Buffalo,0.000319,0.000899,R298-04
10351,Post,Grand Total,NaN,NaN,NaN,1,1,R298-04